

head{padding: auto;

}

p{ font-style: italic;
    font-size: large;

}

h1 { font-family: monospace;
    color: rgb(0, 0, 0);    
    text-align:center;
}

body{font-family: monospace;
background-color: rgba(34, 47, 169, 0.281);
}

p{ font-family: monospace;

}

button{ border-radius: 5px;
    background-color:  rgb(123, 225, 123);

}


label{ font-size: 12px;
    font-style:italic;

}

input { border-radius: 10px;


}